<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>
    <center>
        <table border="3px">
            <tr>
                <th>name</th>
                <th>author</th>
                <th>date</th>
            </tr>
        {% for to in ATO %}
            <tr>
                <td>{{ to.name}}</td>
                <td>{{ to.author}}</td>
                <td>{{ to.date}}</td>


            </tr>   
        {% endfor %}         
        </table>
    </center>

</body>
</html>